<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.micerlab.sparrow.dao.postgre">
    <insert id="createDoc" parameterType="document">
        insert into spa_doc(id, title, thumbnail, creator_id, created_at) values(#{document.id}, #{document.title},
        #{document.thumbnail}, #{document.creator_id}, #{document.created_at});
    </insert>
    <select id="getDoc" resultType="document">
        select * from spa_doc where id = #{id};
    </select>
    <update id="updateDoc">
        update spa_doc set title = #{title} where id = #{id};
    </update>
    <delete id="deleteDoc">
        delete from spa_doc where id = #{id};
    </delete>
    <insert id="setMasterDir" parameterType="String">
        insert into master_slaves(master_id, slave_id) values(#{master_id}, #{slave_id});
    </insert>
    <select id="getMasterDir" resultType="directory">
        select d.* from master_slaves r inner join spa_dir d on r.master_id = d.id and r.slave_id = #{slave_id};
    </select>
    <delete id="dropSlaveDoc">
        delete from master_slaves where slave_id = #{slave_id};
    </delete>
    <select id="getRootPathDirs" resultType="java.util.Map">
        with RECURSIVE r as
        (
          select * from master_slaves where slave_id = #{slave_id}
          union all
          select master_slaves.* from master_slaves, r where master_slaves.slave_id = r.master_id
        )
        select d.id, d.title from spa_dir d inner join r on r.master_id = d.id;
    </select>
    <select id="getAuthGroups" resultType="group">
        select g.* from group_resource r inner join spa_group g on r.group_id = g.group_id
         and r.resource_id = #{resource_id};
    </select>
</mapper>